<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BOOMBOLT</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <style></style>
  </head>
  <body style="margin: 0px; font-family: 'Roboto', sans-serif; width: 98%">
    <div
      class="main-div"
      style="padding: 40px 0%; width: 65%; padding-bottom: 20px"
    >
      <div>
        <p
          style="
            font-size: 24px;
            font-weight: 500;
            margin-top: 0px;
            margin-bottom: 6px;
            color: #000;
          "
        >
          Hi there!
        </p>
        <p
          style="
            font-size: 24px;
            font-weight: 500;
            margin-top: 0px;
            margin-bottom: 6px;
            color: #000;
          "
        >
          We have recieved your message, We will respond to your inquiry as
          quickly as possible and then get back to you. Thank you
        </p>
        <p
          style="
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 6px;
            color: #000;
          "
        >
          Sincerly,
        </p>
        <p
          style="
            font-size: 24px;
            font-weight: 500;
            margin-top: 0px;
            margin-bottom: 6px;
            color: #000;
          "
        >
          Boombolt
        </p>
      </div>
      <div>
        <p
          style="
            font-size: 24px;
            font-weight: 500;
            margin-top: 0px;
            margin-bottom: 6px;
            color: #000;
          "
        >
          Name:<%= datavalue.name %>
        </p>
        <p
          style="
            font-size: 24px;
            font-weight: 500;
            margin-top: 0px;
            margin-bottom: 6px;
            color: rgb(0, 0, 0);
          "
        >
          Email:<%= datavalue.email %>
        </p>
        <p
          style="
            font-size: 24px;
            font-weight: 500;
            margin-top: 0px;
            margin-bottom: 6px;
            color: #000;
          "
        >
          Subject:<%= datavalue.subject %>
        </p>
        <p
          style="
            font-size: 24px;
            font-weight: 500;
            margin-top: 0px;
            margin-bottom: 6px;
            color: #000;
          "
        >
          Message:<%= datavalue.message %>
        </p>
      </div>
    </div>
  </body>
</html>
